body {
	overflow: hidden;
}

img {
	width: 95vw;
	height: 95vh;
	object-fit: contain;
	margin-top: 1vh;
}

button {
	height: 100%;
	width: 50vw;
	margin-left: 0;
	margin-right: 0;
	background: transparent;
	border: none !important;
	position: absolute;
}

button:focus {
	outline: none;
	box-shadow: none;
}

button#previous {
	top: 0px;
	left: 0px;
}

button#next {
	top: 0px;
	left: 50%;
}
